<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Altatec | Prodcuto</title>
    <link rel="shortcut icon" href="assets/img/icons/altatec-isotipo.png">
    <!-- BOOSTRAP V5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- SLICK CAROUSEL CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <!-- RESET CSS -->
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/prodcut.css">
    <!--FONT AWESOME-->
    <script src="https://kit.fontawesome.com/d11ab77a4f.js" crossorigin="anonymous"></script>
    <!-- FONTS -->
    <!-- HEBO FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet">
    <!-- QUICKSAND FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <!-- UBUNTU FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg px-3">
        <div class="container-fluid">
            <%
                if(user){
            %>
            <a class="navbar-brand " href="/<%= user.email %>">
                <img src="assets/img/icons/altatec.png" class="img-fluid" width="200" alt="">
            </a>
            <%
                }else{
            %>
            <a class="navbar-brand " href="/">
                <img src="assets/img/icons/altatec.png" class="img-fluid" width="200" alt="">
            </a>
            <%
                }
            %>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex mx-auto w-50 position-relative">
                    <input class="form-control me-2" type="text" placeholder="Buscar" aria-label="Search">
                    <button class="btn position-absolute" active style="right:10px;" type="submit"><i class="fas fa-search"></i></button>
                </form>
                <ul class="navbar-nav mb-2 mx-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categorias <i class="fas fa-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <%
                                if(categories){
                                    categories.forEach(function(category){
                            %>
                            <li>
                                <%
                                        if(user){
                                    %>
                                <a class="dropdown-item" href="/category/<%= category.id_category %>/<%= user.email %>">
                                    <%= category.category %>
                                </a>
                                <%
                                        }else{
                                    %>
                                <a class="dropdown-item" href="/category/<%= category.id_category %>">
                                    <%= category.category %>
                                </a>
                                <%
                                        }
                                    %>
                            </li>
                            <%
                                    })
                                }
                            %>
                        </ul>
                    </li>
                    <%
                        if(user){
                    %>
                    <li class="nav-item">
                        <a class="nav-link" href="#" active>$0 <i class="fas fa-shopping-cart"></i></a>
                    </li>
                    <%
                            if(!user.avatar)
                                user.avatar = 'assets/img/user.png'

                        %>
                    </li class="nav-item">
                    <a href="/user/<%= user.email %>" class="nav-link" href="user.html"><img src="<%= user.avatar %>" class="img-fluid rounded-circle" width="40" alt=""></a>
                    </li>
                    <%
                    }else{
                    %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Iniciar sesión</a>
                    </li>
                    <%
                    }
                    %>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid p-3">
        <!-- PAGINATION -->
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-4">
                            <li class="breadcrumb-item"><a class="text-primary" href="#">Computadoras</a></li>
                            <li class="breadcrumb-item text-secondary">
                                <%= product.name %>
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- PRODUCT IMAGE -->
                <div class="row p-5">
                    <img src="<%= product.thumbnail %>" class="img-fluid mx-auto d-block" alt="">
                </div>
                <!-- DELIVERY AND PAYMENT SHORT DESCRIPTION -->
                <div class="row">
                    <div class="col-6">
                        <span>
                            <p class="d-block text-center text-primary fs-1 m-0 p-0">
                                <i class="fas fa-truck"></i>
                                <p class="d-block text-center fs-5 text-seconday m-0 p-0 text-secondary">
                                    Envios a todo mexico
                                </p>
                                <p class="fs-6 text-secondary text-center">
                                    <strong>Trabajos con:</strong>Fedex
                                </p>
                        </span>
                    </div>
                    <div class="col-6">
                        <span>
                            <p class="d-block text-center text-primary fs-1 m-0 p-0">
                                <i class="fas fa-chess-rook"></i>
                                <p class="d-block text-center fs-5 text-seconday m-0 p-0 text-secondary">
                                    Pago seguro
                                </p>
                                <p class="fs-6 text-secondary text-center">
                                    Estamos afiliados con las mejores instituciones bancarias
                                </p>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <%
                        if(user){
                    %>
                    <form action="/add-item-list" method="POST">
                        <div class="input-group">
                            <select name="list" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                <option selected>Lista de deseos</option>
                                <%
                                if(lists){
                                    lists.forEach(function(list){
                            %>
                                <option value="<%= list.list %>">
                                    <%= list.list %>
                                </option>
                                <%
                                    })
                                }
                            %>
                                <input type="hidden" name="user_email" value="<%= user.email %>">
                                <input type="hidden" name="product" value="<%= product.id_prod %>">
                                <input type="hidden" name="thumbnail" value="<%= product.thumbnail %>">
                            </select>
                            <button class="btn btn-primary" type="submit">
                                Agregar
                            </button>
                        </div>
                    </form>
                    <%
                    }
                    %>
                </div>
            </div>
            <!-- PRODCUT DESCRIPTION -->
            <div class="col-lg-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <div class="card-title">
                            <h2 class="fs-1 fw-bold">
                                <%= product.name %>
                            </h2>
                        </div>
                        <div class="card-subtitle">
                            <form>
                                <p class="rate d-inline">
                                    <input id="radio1" type="radio" name="estrellas" value="5">
                                    <!--
                                  --><label for="radio1">★</label>
                                    <!--
                                  --><input id="radio2" type="radio" name="estrellas" value="4">
                                    <!--
                                  --><label for="radio2">★</label>
                                    <!--
                                  --><input id="radio3" type="radio" name="estrellas" value="3">
                                    <!--
                                  --><label for="radio3">★</label>
                                    <!--
                                  --><input id="radio4" type="radio" name="estrellas" value="2">
                                    <!--
                                  --><label for="radio4">★</label>
                                    <!--
                                  --><input id="radio5" type="radio" name="estrellas" value="1">
                                    <!--
                                  --><label for="radio5">★</label>
                                </p>
                            </form>
                        </div>
                        <div class="card-text fs-2 text-primary">
                            <strong>$
                                <%= product.price %></strong>
                        </div>
                        <%
                            if(user){
                        %>
                        <form action="/purchase" method="POST">
                            <input type="hidden" name="user" id="user" value="<%= user.email %>">
                            <input type="hidden" name="product" id="product" value="<%= product.id_prod %>">
                            <input type="hidden" name="price" id="price" value="<%= product.price %>">
                            <button type="submit" class="btn btn-primary m-4 d-block">Comprar ahora</a>
                        </form>
                        <%
                            }
                        %>
                    </div>
                    <h3 class="fs-3 fw-bold text-center font-primary text-secondary m-4">Configuraciones <i class="fas fa-cogs"></i></h3>
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item my-1 bg-darkness"><strong class="fs-6">Gabinete: </strong>
                                <%= product.specs.box %>
                            </li>
                            <li class="list-group-item my-1 bg-darkness"><strong class="fs-6">Graficas: </strong>G
                                <%= product.specs.graphic_card %>
                            </li>
                            <li class="list-group-item my-1 bg-darkness"><strong class="fs-6">Procesador:
                                </strong>
                                <%= product.specs.processor %>
                            </li>
                            <li class="list-group-item my-1 bg-darkness"><strong class="fs-6">Memoria RAM: </strong>
                                <%= product.specs.RAM %>
                            </li>
                            <li class="list-group-item my-1 bg-darkness"><strong class="fs-6">Disco Duro: </strong>
                                <%= product.specs.HARD_DRIVE %>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header fs-2">
                        <span class="m-3">
                            <i class="far fa-check-circle"></i>
                            Acerca de
                        </span>
                    </div>
                    <div class="card-text fs-6 p-3">
                        <%= product.descript %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-lg-8 p-5">
                <%
                    if(product.comments.length > 0){
                        product.comments.forEach(function(comment){
                %>
                <div class="card m-3">
                    <div class="row g-0">
                        <div class="col-md-2">
                            <img src="<%= comment.avatar %>" class="avatar card-img-top" alt="...">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title fs-2 font-primary text-primary">
                                    <%= comment.name %>/
                                    <%= comment.user_email %>
                                    <h5>
                                        <p class="card-text">
                                            <%= comment.content %>
                                        </p>
                                        <p class="card-text">
                                            <small class="text-muted">
                                                <%= comment.commente_date %>
                                            </small>
                                        </p>
                            </div>
                        </div>
                    </div>
                </div>
                <%
                        })
                    }
                %>
                <!-- COMMENT -->
                <%
                    if(user){
                %>
                <div class="card m-3">
                    <div class="row g-0">
                        <div class="col-md-2">
                            <img src="<%= user.avatar %>" class="avatar card-img-top" alt="...">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title fs-2 font-primary text-primary">
                                    <%= user.email %>
                                    <h5>
                                        <p class="card-text">
                                            <form action="/drop-comment" method="post">
                                                <input type="hidden" name="user_email" value="<%= user.email %>">
                                                <input type="hidden" name="product" value="<%= product.id_prod %>">
                                                <input type="text" name="content" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                                <button type="submit" class="btn btn-primary">
                                                    Comentar
                                                </button>
                                            </form>
                                        </p>
                            </div>
                        </div>
                    </div>
                </div>
                <%  
                    }
                %>
            </div>
            <div class="col-lg-4">
                <h4 class="fs-3 text-primary font-primary fw-bold">Te puede interesar</h4>
                <div class="card">
                    <img src="assets/img/pc.png" class="img-fluid" style="width: 18rem;" alt="">
                    <div class="card-body">
                        <p class="card-text fs-6">Computadoras</p>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <p id="price"><strike>$25,500</strike></p>
                                <p class="fs-6"><strong>$3,600</strong></p>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <a href="#" class="btn"><i class="fas fa-cart-plus mr-2"></i> Agegar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/img/pc.png" class="img-fluid" style="width: 18rem;" alt="">
                    <div class="card-body">
                        <p class="card-text fs-6">Computadoras</p>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <p id="price"><strike>$25,500</strike></p>
                                <p class="fs-6"><strong>$3,600</strong></p>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <a href="#" class="btn"><i class="fas fa-cart-plus mr-2"></i> Agegar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <footer class="row mt-5 p-5">
            <div class="row my-5">
                <div class="row footer">
                    <div class="col mx-auto">
                        <h4 class="footer-brand mx-4" brand>
                            altatec
                        </h4>
                        <ul class="footer-link">
                            <li>
                                Lemon drops marshmallow gummi bears cupcake tart candy canes. Candy macaroon lemon drops
                                halvah. Cake chocolate cake tootsie roll gummies cupcake.
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4>
                            Computadoras Armadas
                        </h4>
                        <ul class="footer-link">
                            <li>
                                <a href="#">Workstations</a>
                            </li>
                            <li>
                                <a href="#">Gamer</a>
                            </li>
                            <li>
                                <a href="#">Disenio</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4>Categorias</h4>
                        <ul class="footer-link">
                            <li>
                                <a href="#">Computadoras</a>
                            </li>
                            <li>
                                <a href="#">Perifericos</a>
                            </li>
                            <li>
                                <a href="#">Motherboards</a>
                            </li>
                            <li>
                                <a href="#">Tarjetas graficas</a>
                            </li>
                            <li>
                                <a href="#">Gabinetes</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4>Contactanos</h4>
                        <ul class="footer-link">
                            <li>
                                <a href="#"><b>Direccion</b>: Emilio Carranza 935, Treviño, 64720 Monterrey,
                                    N.L.</a><br>
                                <a href="#"><b>Horario</b> Lunes a Sabado de 12:00 - 18:00</a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-whatsapp mr-2"></i><b>Whatsapp:</b> (81) 84 63 78 88 y (81)
                                    31
                                    61 38 50</a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-phone mr-2"></i><b>Telefono:</b>(81) 83 75 21 25 Y (81) 75
                                    23
                                    37</a>
                            </li>
                            <li>
                                <a href="#">Correo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JQUERY BOOTSTRAP V5 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <!-- SLICK CAROUSEL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <!-- MY SCRIPTS -->
    <!-- <script src="assets/helpers/carousel.js"></script>
    <script src="assets/js/carousel.js"></script> -->
    <script src="assets/js/slider.js"></script>
</body>

</html>